html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: #111;
  font-family: sans-serif;
}

#map {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: grab;
}

#map:active {
  cursor: grabbing;
}
